<% include ./partials/header %>
<section class="ImageBackground ImageBackground--overlay v-align-parent u-height450" data-overlay="5">
    <div class="ImageBackground__holder">
        <img src="/imgs/farming.jpg" alt=""/>
    </div>
    <div class="v-align-child">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 text-white text-center">
                    <h1 class="text-uppercase u-Margin0 u-Weight700">Farmer</h1>
                    <ol class="breadcrumb text-white u-MarginTop10 u-MarginBottom0">
                        <li><a href="#">Home</a></li>
                        <li class="active"><span>Farmer</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
<img src="/uploads/<%= farmer.aadhar%>.jpg">
<p>Name: <%= farmer.name %></p>
<p>Father/Husband's Name: <%= farmer.fhname %></p>
<p>Village: <%= farmer.village %></p>
<p>Taluq: <%= farmer.taluq %></p>
<p>Hobli: <%= farmer.hobli %></p>
<p>Phone Number: <%= farmer.mobile %></p>
<p>Education: <%= farmer.education%></p>
<p>Aadhar Number: <%= farmer.aadhar %></p>
<p>Annual Income: <%= farmer.annual_income %></p>
<p>Bank Details: <%= farmer.bank_details %></p>
<p>House Status: <%= farmer.house_status %></p>
<p>Domestic Animals: <%= farmer.domestic_animals %></p>
<p>Land Details: <%= farmer.land_details %></p>
<p>Crop Details: <%= farmer.crop_details %></p>
<p>Farming Machines: <%= farmer.farming_machines %></p>
<a class="btn btn-info" style="display:block; width:fit-content; margin-bottom: 20px;" href="/farmer/<%= farmer._id %>/edit">Edit</a>
</div>
<% include ./partials/footer %>
